.card_row_box {
    display: flex;
    flex-direction: row;

    margin-left: 10px;
    margin-top: 5%;
    width: 80%;

    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 4% 3% 4% 4%;
    gap: 10%;
    box-shadow: rgb(50, 50, 105,0.15) 0px 2px 5px 0px, rgb(0, 0, 0, 0.05) 0px, 1px, 1px 0px;
}

.embeded_card {
    margin-left: 2%;
    margin-top: 3%;
    width: 40%;

    background-color: rgb(255, 255, 255);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    padding: 0% 1% 0% 0%;

    gap: 13px;
}

.card {
    margin-left: 30%;
    margin-top: 5%;
    width: 40%;

    background-color: rgb(255, 255, 255);
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    padding: 5px 25px;
    gap: 13px;
    box-shadow: rgb(50, 50, 50 , 0.15) 0px 2px 5px 0px , rgb(0 , 0, 0, 0.05) 0px 1px 1px 0px; 
}

.main-title {
    margin-top: 20px;
    font-size: 35px;
}

.main-color, .main-text-style, .main-title {
    color: #667496;
}

.main-text-style, .main-title {
    font-family: "Baloo Tamma 2";
}

.font-laber {
    
}