@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');



.card_row_box {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 4% 3% 4% 4%;
    gap: 10%;
    box-shadow: rgb(50, 50, 105, 0.15) 0px 2px 5px 0px, rgb(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.embedded_card {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: center; 
    margin-left: 2em;
    margin-top: 2em;
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 1% 1%;
    gap: 1em;
}

.card {
    margin-left: 30%;
    margin-top: 5%;
    width: 40%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 5px 25px;
    gap: 13px;
    box-shadow: rgb(50, 50, 50, 0.15) 0px 2px 5px 0px, rgb(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.card-wide {
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 5px 25px;
    gap: 13px;
    box-shadow: rgb(50, 50, 50, 0.15) 0px 2px 5px 0px, rgb(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.main-title {
    margin-top: 20px;
    font-size: 35px;
}

.main-color, .main-text-style, .main-title {
    color: #667496;
    margin-left: 1%;
}

.form-control {
    margin-left: 1%;
    margin-right: 1%;
}

.main-text-style, .main-title {
    font-family: 'Baloo Tamma 2', sans-serif;
}

.form-label { 
    color: #667496;
    font-family: "PingFang HK", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-input {
    color: #6f6f77;
    margin-left: 5;
}

.text-content {
    color: #6e9fe8;
}

.form-validation-error-box {
    color: white;
    background-color: #eb1616;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 5px;
    width: max-content;
}

.button-color:hover { 
    background-color: #47b6c5;
    border-color:  #47b6c5;
}

.float-right {
    margin-top: 12px;
    margin-bottom: 8px;
    float: right;
    width: 20%;
    outline: none;
    box-shadow: none;
}

.float-right:active {
    margin-top: 12px;
    margin-bottom: 8px;
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

.float-right:focus {
    border-color: transparent;
}

.text-with-link {
    display: flex;
    margin-top: 1em;
}

.common-link {
    color: #317ef1;
    cursor: pointer;
}
.form-container {
    flex: 1;
    margin-bottom: 1em;
}

img {
    margin-left: 10px;
    width: 360px;
    height: 360px;
}

::placeholder {
    color: #ced1d9;
}

.table-header-font {
    color: #475d7e;
}

.table-content-font {
    color: #838da2;
}

.table-container {
    width: 95%;
    margin: 20px 20px 50px 20px;
}

@media (max-width: 768px) {
    .card_row_box, .embedded_card, .card {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
